
<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title> Sleep Tracker </title>
		<meta name="author" content="your-name-here">
		<meta name="description" content="This web-application
		helps you track your sleep!">
		<link rel="stylesheet" href="style.css">
	</head>

<body>

<h2>Login or register here to track your sleep!</h2>
<form action="" method="POST">
  <ul>
    <li> 
      <label for="username">Username:</label>
	  <input type="text" id="name" name="user_name">
    </li>
    <li>
      <label for="password">Password:</label>
	  <input type="password" id="password" name="user_pw">
    </li>
    <li class = "button">
      <input type="submit" name='login' value='Login'>
	  <input type="submit" name='register' value='Register'>
    </li>
  </ul>
</form>
</body>
</html>

